.btn {
    margin: 5px;
}
.well {
    padding: 7px;
}

/*#MeshOptions  {
    border: solid;
    border-width: 1px;
}
#MeshOptions  {
    border: solid;
    border-width: 1px;
}
#MeshContainer  {
    border: solid;
    border-width: 1px;
}
#PointCloudRow  {
    border: solid;
    border-width: 1px;
}*/


#PointCloudContainer {
    background-color: #000;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 100px;
    padding: 0px;
    position: static; /* fixed or static */
    top: 100px;
    left: 100px;
}